ffmpeg-python
face_alignment
scikit-learn
pydub
soundfile
librosa
pysptk
pyworld
resemblyzer
numpy
opencv-python==4.5.3.56
torch==1.8.1
torchvision==0.9.1
torchaudio==0.8.1
tensorboardX
scikit-learn
pydub
resemblyzer
pysptk
matplotlib
mutagen