ffmpeg-python
opencv-python
face_alignment
scikit-learn
pydub
pynormalize
soundfile
librosa
pysptk
pyworld
resemblyzer
numpy
opencv-python
pytorch pytorch==1.8.1 
torchvision==0.9.1 
torchaudio==0.8.1